.search-bar-container {
  margin-bottom: 5px;
}

.search-bar-container > form > input {
  border: 1px solid #643c23;
  border-radius: 8px;
  height: 20px;
  margin: 8px;
  padding: 5px;
  width: 300px;
}

.search-bar-container > form > button {
  background-color: #643c23;
  border: none;
  border-radius: 8px;
  color: white;
  height: 30px;
  margin: 8px;
  padding: 5px;
  width: 120px;
}

.search-bar-container > form > button:disabled {
  background-color: #643c237f;
  cursor: default;
}

.options-container > label > input {
  margin: 8px;
}
